body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*==Style cho menu===*/
#menu ul {
  background: #025a4a;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #000f0a;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
}
#menu ul li a:hover {
  background: #002621;
  color: #0C0A0A;
}